.zd-body {
  margin: 30 auto;
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #056676;
}
 
 /*==================*/
 /* == TYPOGRAPHY == */
 /*==================*/
.zd-primary {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  background-color: white;
  color: #056676;
}

 h1 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  background-color: white;
  font-size: 28px;
  color: #056676;
}
.zd-h2 {
  font-family: 'Robertson Alternate';
  src: url('./resources/Robertson-Alternate.ttf') format('truetype');
  font-weight: normal;
  color: red;
  font-size: 60px;
  margin-left: 20px;
  padding-left: 20px;
}

.zd-recommendation-label {
  font-family: 'Robertson Alternate';
  src: url('./resources/Robertson-Alternate.ttf') format('truetype');
  font-weight: normal;
  font-size: 20px;
  color: red;
}
  
/*==================*/
/* === BUTTONS === */
/*==================*/

button {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  border-color: #056676;
  color: #056676;
  border: 1px solid-#e8ded2;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
}

button:hover {
  color: #e8ded2;
  border: 2px solid #056676;
  background: #056676;
  box-shadow: 0 1px 0 #5eaaa8;
  transition-timing-function: ease-in;
  transition: .3s;
}

.zd-helper-button {
  cursor: pointer;
  padding: 0px 0px;
  color: #5eaaa8;
  background: transparent;
  border: 0px;
  font-size: 12px;
  border-radius: 0px;
  outline: none !important;
}

.zd-helper-button:hover {
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0px;
}

.zd-helper-button-large {
  cursor: pointer;
  padding: 0px 0px;
  color: #5eaaa8;
  background: transparent;
  border: 0px;
  font-size: 16px;
  border-radius: 0px;
  outline: none !important;
}

.zd-helper-button-large:hover {
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0px;
}
.zd-search-button {
  cursor: pointer;
  padding: 0px 0px;
  color: #5eaaa8;
  background: transparent;
  border: 0px;
  font-size: 16px;
  border-radius: 0px;
  outline: none !important;
  transition-timing-function: ease-in;
  transition: .3s;
}

.zd-search-button:hover {
  background-color: transparent;
  border: 0px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0px;
}

 /*==================*/
 /* ===== DIV ===== */
 /*==================*/

.zd-review-list {
  height: 600px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

 /*==================*/
 /* ===== MODAL ===== */
 /*==================*/

.zd-image-modal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}
.zd-modal-paper {
  background-color: white;
  border: '2px solid #a29b93';
  box-shadow: 0 1px 0 #5eaaa8;
  padding: 5;
  width: '650px';
  height: '800px';
}